<script>
import MyInput from "./UI/MyInput.vue";
import MyButton from "./UI/MyButton.vue";

export default {
  components: {MyButton, MyInput},
  data() {
    return {
      post: {
        title: '',
        body: ''
      }
    }
  },
  methods: {
    createPost() {
      this.post.id = Date.now();
      this.$emit('create', this.post);
      this.post = {
        title: '',
        body: ''
      }
    }
  }
}
</script>

<template>
  <form action="" @submit.prevent>
    <h4>Создание поста</h4>
    <my-input v-model="post.title"
           placeholder="Название">
    </my-input>
    <my-input v-model="post.body"
           placeholder="Описание">
    </my-input>
    <my-button class="btn" @click="createPost">Создать</my-button>
  </form>
</template>

<style scoped>
form {
  display: flex;
  flex-direction: column;
}
</style>