<script>
  export default {
    name: 'my-button'
  }
</script>

<template>
  <button class="btn">
    <slot></slot>
  </button>
</template>

<style scoped>

.btn {
  margin-top: 15px;
  align-self: flex-end;
  padding: 10px 15px;
  background: none;
  color: #535bf2;
  border: 1px solid teal;
}
</style>